#root ,html{
  margin: 0;
  color:rgb(35, 46, 196);
  width:100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 16px;
  background:#0e0d0dad;
  color:white;
  border-radius:10px;
  box-shadow:0 2px 10px rgba(0,0,0,0.04);
  margin-bottom: 10px;
}

.read-the-docs {
  color: #888;
}

.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  padding: 30px;
  background-color: #1f1a1a7a;
}

h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.form-card {
  max-width: 400px; 
  margin:40px auto;
  padding:20px;
  text-align: center;
  
}

Input{
  width:100%;
  padding:10px;
  margin-bottom: 2px;
  border-radius: 5px;
  border:2px solid #ccc;
  font-size:1rem;
  box-sizing: border-box;
}

.Link{
  text-decoration: none;
  color:white;
  background-color:slateblue;
  border-radius: 10px;
  padding:5px 5px;
}

.Link:hover{
  background-color: rgba(57, 31, 228, 0.644);
}

.attendance-page{
  display:grid;
  grid-template-columns:40% 58%;
  gap:20px;
  padding:20px;
  margin:3px;
  padding:5px;
  min-height: 100vh;
  align-items: start;
  box-sizing: border-box;
}

.left-box{
  display:flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  align-items: flex-center;
  gap:20px;
}

.circle-container{
  display:flex;
  width:100%;
  justify-content: center;
}

.progress-circle{
  width:200px;
  height:200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.circle-inner{
  width:120px;
  height:120px;
  border-radius: 50%;
  background: rgba(5, 0, 0, 0.932);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:24px;
  font-weight: bold;
  border:4px solid #eee;
}

.right-box{
  background:white;
  width: 99%;
  border-radius:12px;
  box-shadow:0 2px 8px rgba(214, 49, 49, 0.02);
}

.attendance-history{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin:4px; 
  padding:10px;
}

.history-list{
  width:100%;
  
}
 .history-item{
  padding:15px !important;
  margin-bottom:10px;
  border-radius: 5px;
  background-color: #fffffff3;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
  display: grid;
  color: rgba(10, 15, 7, 0.788);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  padding:4px 0;
}
.editbtn Button{
  margin:2px;
  padding:2px;

}
.progress-wrapper {
  width:100%;
  min-width:0;
  flex:3;

  height:15px;
  background: #ddd;
  border-radius: 12px;
  overflow: hidden;
}

.progress-bar{
  height: 100%;
  background-color: var(--color);
  width:calc(var(--percentage)*1%);
  transition:width 0.3s easy;
}

.calculate-box{
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.03);
  gap:14px;
}

.calc-button{
  display: grid;
  grid-template-columns: auto 1fr auto;
  width:99%;
  min-height: 200px;
  align-items: center;
  margin:5px;
}

.success, .failed{
  background-color: green !important;
  color:white;
  margin:2px;
  padding:2px;
  min-width: 40px;
  min-height:40px;
}

.failed {
  background-color: red !important;
}

.btn-group{
  display: flex;
  flex-direction: column;
  height:200px;
  gap:30px;
  align-content: center;
  padding: 10px;
  margin:auto 2px;
  border-radius: 10px;
}

.status{
  font-weight: 500;
}
.status.Present {color:#2e7d23;}
.status.Absent {color : #c62828}
.status.Holiday {color:#ef6c00}

#editbtn .Present {
  color:#2e7d23;
   background-color: "green" !important}
.Absent {color : #c62828; background-color: "red" !important;}
.Holiday {color:#ef6c00; background-color: "blue" !important;}

@media (max-width:768px){
  .attendance-page,.attendance-history{
    grid-template-columns: 1fr;
    margin:0px;
    padding:0px;
  }
  .history-item{
    display: block;
  }
  .left-box,.right-box,.card{
    width:95%;
    margin:2px;
    padding: 5px;
  }

}